{% extends "form_div_layout.html.twig" %}

{# Form root block #}

{% block form_start %}
	{% set form_class = form_class|default('form') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ form_class)|trim  }) %}
    {{ parent() }}
{% endblock form_start %}

{# Form row #}

{% block form_row %}
{% spaceless %}
{% set widget = widget|default('default') %}

{% if widget == 'hidden' %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% else %}
    <div {{ block('row_container_attributes') }}>
        {% if label is not sameas(false) %}
            {{ form_label(form, label) }}
        {% endif %}
        
        {% if control_group|default(false) %}
            <div {{ block('control_group_attributes') }}>
        {% endif %}

            {% set help = help|default(false) %}
            {% set help_position = help_position|default('bottom') %}

            {{ help and help_position == 'top' ? block('form_help') : '' }}

            {% block form_row_widget_container_widget form_widget(form) %}
            {% block form_row_widget_container_errors form_errors(form) %}

            {{ help and help_position == 'bottom' ? block('form_help') : '' }}

            {{ block('collection_delete_button') }}

        {% if control_group|default(false) %}
            </div>
        {% endif %}
    </div>
{% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block row_container_attributes %}
{% spaceless %}
	{% set group_id = group_id|default(id ~ '-group') %}
	{% set group_attr = group_attr|default({}) %}

    {#% if not compound or expanded|default(false) %#}
    	{% set group_class = group_class|default('group') %}
	    {% set group_attr = group_attr|merge({'class': (group_attr.class|default('') ~ ' ' ~ group_class)|trim }) %}
    {#% endif %#}

	{% if errors|length > 0 %}
    	{% set group_error_class = group_error_class|default('errors') %}
	    {% set group_attr = group_attr|merge({'class': (group_attr.class|default('') ~ ' ' ~ group_error_class)|trim }) %}
    {% endif %}

    {% if group_id %}id="{{ group_id }}"{% endif %}
	{% for attrname, attrvalue in group_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock %}

{% block control_group_attributes %}
{% spaceless %}
    {% for attrname, attrvalue in control_group_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock control_group_attributes %}

{# Form label #}

{% block form_label %}
{% spaceless %}
    {% set label_class = label_class|default('label') %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' ' ~ label_class)|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{# Widget classes #}

{% block form_widget %}
{% spaceless %}
    {% if not compound or expanded|default(true) is sameas(false) %}
		{% set control_class = control_class|default('input') %}
	    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
    {% endif %}
	{{ parent() }}
{% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_collapsed %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{# Help block #}

{% block form_help %}
    {% if help|default(false) %}
        <p class="{{ help_class|default('help') }}">
            {{ help|trans({}, translation_domain) }}
        </p>
    {% endif %}
{% endblock %}

{# Collections #}

{% block collection_delete_button %}
    {% if form.parent.vars.allow_delete|default(false) %}
        {# @todo: remove btn #}
    {% endif %}
{% endblock collection_delete_button %}