{% extends "form_div_layout.html.twig" %}

{# Form root block #}

{% block form_start %}
	{% set form_class = form_class|default('form') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ form_class)|trim  }) %}
    {{ parent() }}
{% endblock form_start %}

{# Form row #}

{% block form_row %}
{% spaceless %}
{% set widget = widget|default('default') %}

{% if widget == 'hidden' %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% else %}
    <div {{ block('row_container_attributes') }}>

        {% if label is not sameas(false) %}
            {% if label_group|default(false) %}
                <div {{ block('label_group_attributes') }}>
            {% endif %}
                    {{ form_label(form, label, {label_attr: label_attr|default({})}) }}
            {% if label_group|default(false) %}
                </div>
            {% endif %}
        {% endif %}

        {% if control_group|default(false) %}
            <div {{ block('control_group_attributes') }}>
        {% endif %}

            {% set help = help|default(false) %}
            {% set help_position = help_position|default('bottom') %}

            {{ help and help_position == 'top' ? block('form_help') : '' }}

            {{ form_widget(form) }}

            {{ help and help_position == 'bottom' ? block('form_help') : '' }}

            {{ form_errors(form) }}

            {{ block('collection_delete_button') }}

        {% if control_group|default(false) %}
            </div>
        {% endif %}
    </div>
{% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block row_container_attributes %}
{% spaceless %}
    {% set group_class = group_class|default('group') %}
    {% set group_attr  = group_attr|default({})|merge({'class': (group_attr.class|default('') ~ ' ' ~ group_class)|trim }) %}

	{% if errors|length > 0 %}
        {% set group_error_class = group_error_class|default('errors') %}
        {% set group_attr        = group_attr|merge({'class': (group_attr.class|default('') ~ ' ' ~ group_error_class)|trim }) %}
    {% endif %}

    id="{{ block('group_id') }}"
    {{ _self.html_attributes(group_attr) }}
{% endspaceless %}
{% endblock %}

{% block group_id id ~ '-group' %}

{% block control_group_attributes %}
{% spaceless %}
    {{ _self.html_attributes(control_group_attr) }}
{% endspaceless %}
{% endblock control_group_attributes %}

{% block label_group_attributes %}
{% spaceless %}
    {{ _self.html_attributes(label_group_attr) }}
{% endspaceless %}
{% endblock label_group_attributes %}

{# Form label #}

{% block form_label %}
{% spaceless %}
    {% set label_attr = label_attr|default({})|merge({'class': (label_attr.class|default('') ~ ' ' ~ label_class|default('label'))|trim}) %}
    {% if label is not sameas(false) %}
        {% set label_attr = label_attr|merge({'for': id}) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{{ _self.html_attributes(label_attr) }}>
            {{ label|trans({}, translation_domain)|raw }}
        </label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# Widget classes #}

{% block form_widget %}
{% spaceless %}
    {% if not compound or expanded|default(true) is sameas(false) %}
        {% set control_class = control_class|default('input') %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
    {% endif %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
{% spaceless %}
    {% set tag = tag|default('fieldset') %}
    <{{ tag }} {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </{{ tag }}>
{% endspaceless %}
{% endblock form_widget_compound %}

{% block textarea_widget %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock textarea_widget %}

{# Boxes #}

{% block box_row %}
{% spaceless %}
    <div {{ block('row_container_attributes') }}>
        {% if control_group|default(false) %}
            <div {{ block('control_group_attributes') }}>
        {% endif %}

            {% set help = help|default(false) %}
            {% set help_position = help_position|default('bottom') %}

            {{ help and help_position == 'top' ? block('form_help') : '' }}

            {{ block('box_widget') }}

            {{ form_errors(form) }}
            {{ block('collection_delete_button') }}

            {{ help and help_position == 'bottom' ? block('form_help') : '' }}

        {% if control_group|default(false) %}
            </div>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock box_row %}

{% block box_widget %}
{% if label is sameas(false) %}
    {{ form_widget(form) }}
{% else %}
    {{ form_label(form, form_widget(form) ~ label|trans({}, translation_domain), {label_attr: label_attr|default({})}) }}
{% endif %}
{% endblock box_widget %}

{# Choice #}

{% block choice_widget %}
{% spaceless %}
    {% set attr = attr|merge({'data-choice': 'choice' ~ (expanded ? '-expanded' : '') ~ (multiple ? '-multiple' : '')}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_collapsed %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% set tag = tag|default('fieldset') %}
    <{{ tag }} {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
    {% endfor %}
    </{{ tag }}>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option {{ block('choice_widget_options_attributes') }}>
                {{ block('choice_widget_options_label') }}
            </option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}

{% block choice_widget_options_label %}
    {{ choice.label|trans({}, translation_domain) }}
{% endblock %}

{% block choice_widget_options_attributes %}
    {% set choice_attr = choice.attr|default({})|merge({value: choice.value}) %}

    {% if choice is selectedchoice(value) %}
        {% set choice_attr = choice_attr|merge({selected: 'selected'}) %}
    {% endif %}

    {{ _self.html_attributes(choice_attr) }}
{% endblock %}

{# Help block #}

{% block form_help %}
    {% if help|default(false) %}
        <p class="{{ help_class|default('help') }}">
            {{ help|trans({}, translation_domain) }}
        </p>
    {% endif %}
{% endblock %}

{# Buttons #}

{% block button_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock button_row %}

{# Collections #}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set collection_class = collection_class|default('collection') %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ collection_class)|trim }) %}
        {% set attr = attr|merge({'data-collection': prototype.vars.name }) %}
        {% if allow_add|default(false) %}
            {% set attr = attr|merge({'data-collection-add': block('collection_add_button_id') }) %}
        {% endif %}
        {% if allow_delete|default(false) %}
            {% set colection_delete_suffix = id %}
            {% set attr = attr|merge({'data-collection-delete': block('collection_delete_button_class') }) %}
        {% endif %}
    {% endif %}

    {{ parent() }}

    {{ block('collection_add_button') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_add_button %}
{% spaceless %}
    {% if allow_add|default(false) %}
        {% set button_function = 'add' %}
        {% if label_add is defined %}
        {% set button_label = label_add %}
        {% endif %}
        {{ block('collection_button') }}
    {% endif %}
{% endspaceless %}
{% endblock collection_add_button %}

{% block collection_delete_button %}
{% spaceless %}
    {% if form.parent.vars.allow_delete|default(false) %}
        {% set button_function = 'delete' %}
        {% set colection_delete_suffix = form.parent.vars.id %}
        {% set button_attr = button_attr|default({})|merge({'data-collection-delete': block('group_id')}) %}
        {% set button_attr = button_attr|merge({'class': (button_attr.class|default('') ~ ' ' ~ block('collection_delete_button_class'))|trim }) %}
        {% if form.parent.vars.label_delete is defined %}
        {% set button_label = form.parent.vars.label_delete %}
        {% endif %}
        {{ block('collection_button') }}
    {% endif %}
{% endspaceless %}
{% endblock collection_delete_button %}

{% block collection_button %}
{% spaceless %}
    {% set button_class = button_class|default(button_function) %}
    {% set button_attr = button_attr|default({})|merge({'class': (button_attr.class|default('') ~ ' ' ~ button_class)|trim }) %}
    {% set button_label = button_label|default(button_function|humanize) %}

    <button {{ block('collection_button_attributes') }}>
        {{ button_label|trans(button_label_parameters|default({}), translation_domain)|raw }}
    </button>
{% endspaceless %}
{% endblock collection_button %}

{% block collection_button_attributes %}
{% spaceless %}
    {% set button_attr = button_attr|default({})|merge({id: block('collection_' ~ button_function ~ '_button_id')}) %}
    {% set button_attr = button_attr|default({})|merge({type: 'button'}) %}
    {{ _self.html_attributes(button_attr) }}
{% endspaceless %}
{% endblock collection_button_attributes %}

{% block collection_add_button_id id ~ '_add' %}
{% block collection_delete_button_id id ~ '_delete' %}
{% block collection_delete_button_class colection_delete_suffix ~ '_delete' %}

{# Macros #}

{% macro html_attributes(attributes) %}
    {% for attrname, attrvalue in attributes %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endmacro %}
