{% extends "form_div_layout.html.twig" %}

{# Form root block #}

{% block form_start %}
	{% set form_class = form_class|default('form') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ form_class)|trim  }) %}
    {{ parent() }}
{% endblock form_start %}

{# Form row #}

{% block form_row %}
{% spaceless %}
{% set widget = widget|default('default') %}

{% if widget == 'hidden' %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{% else %}
    <div {{ block('row_container_attributes') }}>
        {% if label is not sameas(false) %}
            {{ form_label(form, label) }}
        {% endif %}

        {% if control_group|default(false) %}
            <div {{ block('control_group_attributes') }}>
        {% endif %}

            {% set help = help|default(false) %}
            {% set help_position = help_position|default('bottom') %}

            {{ help and help_position == 'top' ? block('form_help') : '' }}

            {% block form_row_widget_container_widget form_widget(form) %}
            {% block form_row_widget_container_errors form_errors(form) %}

            {{ help and help_position == 'bottom' ? block('form_help') : '' }}

            {{ block('collection_delete_button') }}

        {% if control_group|default(false) %}
            </div>
        {% endif %}
    </div>
{% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block row_container_attributes %}
{% spaceless %}
    {% set group_class = group_class|default('group') %}
    {% set group_attr  = group_attr|default({})|merge({'class': (group_attr.class|default('') ~ ' ' ~ group_class)|trim }) %}

	{% if errors|length > 0 %}
        {% set group_error_class = group_error_class|default('errors') %}
        {% set group_attr        = group_attr|merge({'class': (group_attr.class|default('') ~ ' ' ~ group_error_class)|trim }) %}
    {% endif %}

    id="{{ block('group_id') }}"
	{% for attrname, attrvalue in group_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock %}

{% block group_id id ~ '-group' %}

{% block control_group_attributes %}
{% spaceless %}
    {% for attrname, attrvalue in control_group_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock control_group_attributes %}

{# Form label #}

{% block form_label %}
{% spaceless %}
    {% set label_class = label_class|default('label') %}
    {% set label_attr  = label_attr|merge({'class': (label_attr.class|default('') ~ ' ' ~ label_class)|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock form_label %}

{# Widget classes #}

{% block form_widget %}
{% spaceless %}
    {% if not compound or expanded|default(true) is sameas(false) %}
		{% set control_class = control_class|default('input') %}
	    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
    {% endif %}
	{{ parent() }}
{% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget_collapsed %}
{% spaceless %}
	{% set control_class = control_class|default('input') %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ control_class)|trim }) %}
	{{ parent() }}
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{# Choice #}

{% block choice_widget %}
{% spaceless %}
    {% set attr = attr|merge({'data-type': 'choice' ~ (expanded ? '-expanded' : '') ~ (multiple ? '-multiple' : '')}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock choice_widget %}

{# Help block #}

{% block form_help %}
    {% if help|default(false) %}
        <p class="{{ help_class|default('help') }}">
            {{ help|trans({}, translation_domain) }}
        </p>
    {% endif %}
{% endblock %}

{# Buttons #}

{% block button_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock button_row %}

{# Collections #}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set collection_class = collection_class|default('collection') %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ collection_class)|trim }) %}
        {% set attr = attr|merge({'data-collection': prototype.vars.name }) %}
        {% if allow_add|default(false) %}
            {% set attr = attr|merge({'data-add': block('collection_add_button_id') }) %}
        {% endif %}
        {% if allow_delete|default(false) %}
            {% set colection_delete_suffix = id %}
            {% set attr = attr|merge({'data-delete': block('collection_delete_button_class') }) %}
        {% endif %}
    {% endif %}

    {{ parent() }}

    {{ block('collection_add_button') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_add_button %}
{% spaceless %}
    {% if allow_add|default(false) %}
        {% set button_function = 'add' %}
        {% if label_add is defined %}
        {% set button_label = label_add %}
        {% endif %}
        {{ block('collection_button') }}
    {% endif %}
{% endspaceless %}
{% endblock collection_add_button %}

{% block collection_delete_button %}
{% spaceless %}
    {% if form.parent.vars.allow_delete|default(false) %}
        {% set button_function = 'delete' %}
        {% set colection_delete_suffix = form.parent.vars.id %}
        {% set button_attr = button_attr|default({})|merge({'data-delete': block('group_id')}) %}
        {% set button_attr = button_attr|merge({'class': (button_attr.class|default('') ~ ' ' ~ block('collection_delete_button_class'))|trim }) %}
        {% if form.parent.vars.label_delete is defined %}
        {% set button_label = form.parent.vars.label_delete %}
        {% endif %}
        {{ block('collection_button') }}
    {% endif %}
{% endspaceless %}
{% endblock collection_delete_button %}

{% block collection_button %}
{% spaceless %}
    {% set button_class = button_class|default(button_function) %}
    {% set button_attr = button_attr|default({})|merge({'class': (button_attr.class|default('') ~ ' ' ~ button_class)|trim }) %}
    {% set button_label = button_label|default(button_function|humanize) %}

    <button {{ block('collection_button_attributes') }}>
        {{ button_label|trans(button_label_parameters|default({}), translation_domain)|raw }}
    </button>
{% endspaceless %}
{% endblock collection_button %}

{% block collection_button_attributes %}
{% spaceless %}
    type="button"
    id="{{ block('collection_' ~ button_function ~ '_button_id') }}"
    {% for attrname, attrvalue in button_attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock collection_button_attributes %}

{% block collection_add_button_id id ~ '_add' %}
{% block collection_delete_button_id id ~ '_delete' %}
{% block collection_delete_button_class colection_delete_suffix ~ '_delete' %}
